<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/delete?_method=delete" method="post">
        <h3>진짜로 글 삭제 하쉴?</h3>
        <!-- type안보이게 hidden하면 됨 -->
        <input type="hidden" name="_id" value="<%= data._id %>" >
        <!-- <input type="text" name="title" value="<%= data.title %>" >
        <input type="text" name="content" value="<%= data.content %>"> -->
        <button type="submit">삭제</button>
    </form>
</body>
</html>